/* Tailwind Imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
}

*{
  box-sizing: border-box;
}

.css-text-stroke {
  -webkit-text-stroke: 4px navy;
}
